{{ server_name }} {
    log {
        output stdout
        format console
    }

    handle /api/* {
        reverse_proxy {{ backend_host }}:{{ backend_port }} {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle /* {
        reverse_proxy {{ frontend_host }}:{{ frontend_port }} {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }
}